In [110]:
# GOAL
# analyze how dependent india is on China for products

# OBJECTIVES 
# find total value of goods imported/exported from/to China
# what is the ratio of goods imported and exported 
# what types of products are imported from china 
# what is the distribution of products

In [111]:
import pandas as pd 
import numpy as np

In [112]:
data = pd.read_csv('india_trade_data.csv')

In [113]:
data.head()

,HSCode,Commodity,value,country,year
0,2,MEAT AND EDIBLE MEAT OFFAL.,0.18,AFGHANISTAN TIS,2018
1,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",0.00,AFGHANISTAN TIS,2018
2,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,12.48,AFGHANISTAN TIS,2018
3,6,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,0.00,AFGHANISTAN TIS,2018
4,7,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,1.89,AFGHANISTAN TIS,2018

In [114]:
# HS Code

[Source](https://www.logisticsglossary.com/term/hs-code/)

The Harmonized Commodity Description and Coding System (HS code) of the tariff nomenclature is an international standardised system of names and numbers for the classification of commodities. The HS code system is based on a 6-digit nomenclature. Individual countries have extended this to 10 digits for import and 8 for export.

Nearly 200 countries use these HS codes as basis for:

import duties
trade statistics (Statistics Netherlands)
origin regulations
trade agreements
monitoring of controlled goods (including arms, waste, protected animal species)
risk analyses
Customs information systems
 

Since the HS code is subject to development, it needs to be ensured that the used codes remain up-to-date.

When importing, a normal description of the goods needs to be stated, other than the standard text and in addition to the HS code. This is because Customs wants to be able to physically check the goods on the basis of this description. The HS code given by the supplier often suffices, but there is often uncertainty in the event of e.g. new technologies. Is that new telephone classed as a camera or otherwise? In order to be absolutely certain that the correct HS code is used for import purposes, it is best to ask for Binding Tariff Information (BTI). This applies throughout the EU if it concerns an identical product.

The HS code system is developed and maintained by the World Customs Organisation (WCO), an independent organisation at government level with around 160 members, having its seat in Brussels.

The HS code is also referred to as the goods code, statistics code, statistics number or tariff code. Please feel free to contact our staff for questions or advice.

In [115]:
# list unique countries india trades with 
data['country'].unique()

array(['AFGHANISTAN TIS', 'ALBANIA', 'ALGERIA', 'AMERI SAMOA', 'ANDORRA',
       'ANGOLA', 'ANGUILLA', 'ANTARTICA', 'ANTIGUA', 'ARGENTINA',
       'ARMENIA', 'ARUBA', 'AUSTRALIA', 'AUSTRIA', 'AZERBAIJAN',
       'BAHAMAS', 'BAHARAIN IS', 'BANGLADESH PR', 'BARBADOS', 'BELARUS',
       'BELGIUM', 'BELIZE', 'BENIN', 'BERMUDA', 'BHUTAN', 'BOLIVIA',
       'BOSNIA-HRZGOVIN', 'BOTSWANA', 'BR VIRGN IS', 'BRAZIL', 'BRUNEI',
       'BULGARIA', 'BURKINA FASO', 'BURUNDI', 'C AFRI REP', 'CAMBODIA',
       'CAMEROON', 'CANADA', 'CAPE VERDE IS', 'CAYMAN IS', 'CHAD',
       'CHILE', 'CHINA P RP', 'COLOMBIA', 'COMOROS', 'CONGO D. REP.',
       'CONGO P REP', 'COOK IS', 'COSTA RICA', "COTE D' IVOIRE",
       'CROATIA', 'CUBA', 'CURACAO', 'CYPRUS', 'CZECH REPUBLIC',
       'DENMARK', 'DJIBOUTI', 'DOMINIC REP', 'DOMINICA', 'ECUADOR',
       'EGYPT A RP', 'EL SALVADOR', 'EQUTL GUINEA', 'ERITREA', 'ESTONIA',
       'ETHIOPIA', 'FALKLAND IS', 'FAROE IS.', 'FIJI IS', 'FINLAND',
       'FR GUIANA', 'FR POLYNESIA', 'FRANCE', 'GABON', 'GAMBIA',
       'GEORGIA', 'GERMANY', 'GHANA', 'GIBRALTAR', 'GREECE', 'GREENLAND',
       'GRENADA', 'GUADELOUPE', 'GUAM', 'GUATEMALA', 'GUERNSEY', 'GUINEA',
       'GUINEA BISSAU', 'GUYANA', 'HAITI', 'HEARD MACDONALD', 'HONDURAS',
       'HONG KONG', 'HUNGARY', 'ICELAND', 'INDONESIA',
       'INSTALLATIONS IN INTERNATIONAL WATERS   ', 'IRAN', 'IRAQ',
       'IRELAND', 'ISRAEL', 'ITALY', 'JAMAICA', 'JAPAN',
       'JERSEY         ', 'JORDAN', 'KAZAKHSTAN', 'KENYA', 'KIRIBATI REP',
       'KOREA DP RP', 'KOREA RP', 'KUWAIT', 'KYRGHYZSTAN', 'LAO PD RP',
       'LATVIA', 'LEBANON', 'LESOTHO', 'LIBERIA', 'LIBYA',
       'LIECHTENSTEIN', 'LITHUANIA', 'LUXEMBOURG', 'MACAO', 'MACEDONIA',
       'MADAGASCAR', 'MALAWI', 'MALAYSIA', 'MALDIVES', 'MALI', 'MALTA',
       'MARSHALL ISLAND', 'MARTINIQUE', 'MAURITANIA', 'MAURITIUS',
       'MAYOTTE', 'MEXICO', 'MICRONESIA', 'MOLDOVA', 'MONACO', 'MONGOLIA',
       'MONTENEGRO', 'MONTSERRAT', 'MOROCCO', 'MOZAMBIQUE', 'MYANMAR',
       'N. MARIANA IS.', 'NAMIBIA', 'NAURU RP', 'NEPAL', 'NETHERLAND',
       'NETHERLANDANTIL', 'NEW CALEDONIA', 'NEW ZEALAND', 'NICARAGUA',
       'NIGER', 'NIGERIA', 'NORFOLK IS', 'NORWAY', 'OMAN', 'PAKISTAN IR',
       'PALAU', 'PANAMA C Z', 'PANAMA REPUBLIC', 'PAPUA N GNA',
       'PARAGUAY', 'PERU', 'PHILIPPINES', 'PITCAIRN IS.', 'POLAND',
       'PORTUGAL', 'PUERTO RICO', 'QATAR', 'REUNION', 'ROMANIA', 'RUSSIA',
       'RWANDA', 'SAHARWI A.DM RP', 'SAMOA', 'SAN MARINO', 'SAO TOME',
       'SAUDI ARAB', 'SENEGAL', 'SERBIA', 'SEYCHELLES', 'SIERRA LEONE',
       'SINGAPORE', 'SINT MAARTEN (DUTCH PART)', 'SLOVAK REP', 'SLOVENIA',
       'SOLOMON IS', 'SOMALIA', 'SOUTH AFRICA', 'SOUTH SUDAN ', 'SPAIN',
       'SRI LANKA DSR', 'ST HELENA', 'ST KITT N A', 'ST LUCIA',
       'ST PIERRE', 'ST VINCENT', 'STATE OF PALEST', 'SUDAN', 'SURINAME',
       'SWAZILAND', 'SWEDEN', 'SWITZERLAND', 'SYRIA', 'TAIWAN',
       'TAJIKISTAN', 'TANZANIA REP', 'THAILAND', 'TIMOR LESTE', 'TOGO',
       'TOKELAU IS', 'TONGA', 'TRINIDAD', 'TUNISIA', 'TURKEY',
       'TURKMENISTAN', 'TURKS C IS', 'TUVALU', 'U ARAB EMTS', 'U K',
       'U S A', 'UGANDA', 'UKRAINE', 'UNION OF SERBIA & MONTENEGRO',
       'UNSPECIFIED', 'URUGUAY',
       'US MINOR OUTLYING ISLANDS               ', 'UZBEKISTAN',
       'VANUATU REP', 'VATICAN CITY', 'VENEZUELA', 'VIETNAM SOC REP',
       'VIRGIN IS US', 'WALLIS F IS', 'YEMEN REPUBLC', 'ZAMBIA',
       'ZIMBABWE', 'COCOS IS', 'FR S ANT TR', 'NIUE IS', 'CANARY IS',
       'CHANNEL IS', 'CHRISTMAS IS.', 'PACIFIC IS', 'NEUTRAL ZONE'],
      dtype=object)

In [116]:
# filter the data by trade with china 
dataFilter = (data['country'] == 'CHINA P RP') & (data['year'] == 2018)

### Top 5 Commodities India Exported from China in 2018

In [117]:
chinaData = data[dataFilter]
chinaData = chinaData.sort_values('value', ascending=False)
chinaData.head()

,HSCode,Commodity,value,country,year
2844,29,ORGANIC CHEMICALS,3249.21,CHINA P RP,2018
2842,27,"MINERAL FUELS, MINERAL OILS AND PRODUCTS OF TH...",2855.69,CHINA P RP,2018
2867,52,COTTON.,1786.77,CHINA P RP,2018
2841,26,"ORES, SLAG AND ASH.",1220.22,CHINA P RP,2018
2854,39,PLASTIC AND ARTICLES THEREOF.,1104.52,CHINA P RP,2018

In [118]:
# remove null values 

# find number of NaN's
null_filter = ~ pd.isna(chinaData['value'])
print('{} NaN values in {} data points'.format(chinaData.shape[0]- null_filter.sum(), chinaData.shape[0]))

# remove NaNs
chinaData = chinaData[null_filter]
chinaData.shape[0]

1 NaN values in 96 data points

95

### Total Value of Goods Imported from China

In [123]:
goodsTotalValue = chinaData['value'].sum()
print('Total value of Imports from China: {}'.format(np.round(goodsTotalValue, 2)))

Total value of Imports from China: 16751.94

### Fractional Value of Top 5 Goods

In [126]:
chinaData['GoodsValueFraction'] = np.round(chinaData['value']/goodsTotalValue, 2)
chinaData.head()

,HSCode,Commodity,value,country,year,GoodsValueFraction
2844,29,ORGANIC CHEMICALS,3249.21,CHINA P RP,2018,0.19
2842,27,"MINERAL FUELS, MINERAL OILS AND PRODUCTS OF TH...",2855.69,CHINA P RP,2018,0.17
2867,52,COTTON.,1786.77,CHINA P RP,2018,0.11
2841,26,"ORES, SLAG AND ASH.",1220.22,CHINA P RP,2018,0.07
2854,39,PLASTIC AND ARTICLES THEREOF.,1104.52,CHINA P RP,2018,0.07