In [165]:
# GOAL
# analyze how dependent india is on China for products

# OBJECTIVES 
# find total value of goods imported/exported from/to China
# what is the ratio of goods imported and exported 
# what types of products are imported from china 
# what is the distribution of products

#### Dataset Decription

[Data Source and Description on GitHub](https://github.com/lakshyaag/India-Trade-Data)

The dataset consists of trade values for export and import of commodities in million US$. The dataset is tidy and each row consists of a single observation.

%HTML

<table>
<thead>
<tr>
<th>Column</th>
<th>Definition</th>
</tr>
</thead>
<tbody>
<tr>
<td>HSCode</td>
<td>Harmonized System (HS2) Code</td>
</tr>
<tr>
<td>Commodity</td>
<td>Name of commodity as per HS2</td>
</tr>
<tr>
<td>Country</td>
<td>Country of export</td>
</tr>
<tr>
<td>Year</td>
<td>Year of export</td>
</tr>
<tr>
<td>Value</td>
<td>Value of export (in million US$)</td>
</tr>
</tbody>
</table>

#### HS Code

[Source](https://www.logisticsglossary.com/term/hs-code/)

The Harmonized Commodity Description and Coding System (HS code) of the tariff nomenclature is an international standardised system of names and numbers for the classification of commodities. The HS code system is based on a 6-digit nomenclature. Individual countries have extended this to 10 digits for import and 8 for export.

Nearly 200 countries use these HS codes as basis for:

import duties
trade statistics (Statistics Netherlands)
origin regulations
trade agreements
monitoring of controlled goods (including arms, waste, protected animal species)
risk analyses
Customs information systems
 

Since the HS code is subject to development, it needs to be ensured that the used codes remain up-to-date.

When importing, a normal description of the goods needs to be stated, other than the standard text and in addition to the HS code. This is because Customs wants to be able to physically check the goods on the basis of this description. The HS code given by the supplier often suffices, but there is often uncertainty in the event of e.g. new technologies. Is that new telephone classed as a camera or otherwise? In order to be absolutely certain that the correct HS code is used for import purposes, it is best to ask for Binding Tariff Information (BTI). This applies throughout the EU if it concerns an identical product.

The HS code system is developed and maintained by the World Customs Organisation (WCO), an independent organisation at government level with around 160 members, having its seat in Brussels.

The HS code is also referred to as the goods code, statistics code, statistics number or tariff code. Please feel free to contact our staff for questions or advice.

In [166]:
import pandas as pd 
import numpy as np

In [167]:
importData = pd.read_csv('2018_2010_import.csv')
exportData = pd.read_csv('2018_2010_export.csv')

#### ImportData

In [168]:
importData.head()

,HSCode,Commodity,value,country,year
0,5,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...",0.00,AFGHANISTAN TIS,2018
1,7,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,12.38,AFGHANISTAN TIS,2018
2,8,EDIBLE FRUIT AND NUTS; PEEL OR CITRUS FRUIT OR...,268.60,AFGHANISTAN TIS,2018
3,9,"COFFEE, TEA, MATE AND SPICES.",35.48,AFGHANISTAN TIS,2018
4,11,PRODUCTS OF THE MILLING INDUSTRY; MALT; STARCH...,NaN,AFGHANISTAN TIS,2018

#### Export Data

In [169]:
exportData.head()

,HSCode,Commodity,value,country,year
0,2,MEAT AND EDIBLE MEAT OFFAL.,0.18,AFGHANISTAN TIS,2018
1,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",0.00,AFGHANISTAN TIS,2018
2,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,12.48,AFGHANISTAN TIS,2018
3,6,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,0.00,AFGHANISTAN TIS,2018
4,7,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,1.89,AFGHANISTAN TIS,2018

### Analysis of Export Data

In [170]:
# list unique countries india trades with 
exportData['country'].unique()

array(['AFGHANISTAN TIS', 'ALBANIA', 'ALGERIA', 'AMERI SAMOA', 'ANDORRA',
       'ANGOLA', 'ANGUILLA', 'ANTARTICA', 'ANTIGUA', 'ARGENTINA',
       'ARMENIA', 'ARUBA', 'AUSTRALIA', 'AUSTRIA', 'AZERBAIJAN',
       'BAHAMAS', 'BAHARAIN IS', 'BANGLADESH PR', 'BARBADOS', 'BELARUS',
       'BELGIUM', 'BELIZE', 'BENIN', 'BERMUDA', 'BHUTAN', 'BOLIVIA',
       'BOSNIA-HRZGOVIN', 'BOTSWANA', 'BR VIRGN IS', 'BRAZIL', 'BRUNEI',
       'BULGARIA', 'BURKINA FASO', 'BURUNDI', 'C AFRI REP', 'CAMBODIA',
       'CAMEROON', 'CANADA', 'CAPE VERDE IS', 'CAYMAN IS', 'CHAD',
       'CHILE', 'CHINA P RP', 'COLOMBIA', 'COMOROS', 'CONGO D. REP.',
       'CONGO P REP', 'COOK IS', 'COSTA RICA', "COTE D' IVOIRE",
       'CROATIA', 'CUBA', 'CURACAO', 'CYPRUS', 'CZECH REPUBLIC',
       'DENMARK', 'DJIBOUTI', 'DOMINIC REP', 'DOMINICA', 'ECUADOR',
       'EGYPT A RP', 'EL SALVADOR', 'EQUTL GUINEA', 'ERITREA', 'ESTONIA',
       'ETHIOPIA', 'FALKLAND IS', 'FAROE IS.', 'FIJI IS', 'FINLAND',
       'FR GUIANA', 'FR POLYNESIA', 'FRANCE', 'GABON', 'GAMBIA',
       'GEORGIA', 'GERMANY', 'GHANA', 'GIBRALTAR', 'GREECE', 'GREENLAND',
       'GRENADA', 'GUADELOUPE', 'GUAM', 'GUATEMALA', 'GUERNSEY', 'GUINEA',
       'GUINEA BISSAU', 'GUYANA', 'HAITI', 'HEARD MACDONALD', 'HONDURAS',
       'HONG KONG', 'HUNGARY', 'ICELAND', 'INDONESIA',
       'INSTALLATIONS IN INTERNATIONAL WATERS   ', 'IRAN', 'IRAQ',
       'IRELAND', 'ISRAEL', 'ITALY', 'JAMAICA', 'JAPAN',
       'JERSEY         ', 'JORDAN', 'KAZAKHSTAN', 'KENYA', 'KIRIBATI REP',
       'KOREA DP RP', 'KOREA RP', 'KUWAIT', 'KYRGHYZSTAN', 'LAO PD RP',
       'LATVIA', 'LEBANON', 'LESOTHO', 'LIBERIA', 'LIBYA',
       'LIECHTENSTEIN', 'LITHUANIA', 'LUXEMBOURG', 'MACAO', 'MACEDONIA',
       'MADAGASCAR', 'MALAWI', 'MALAYSIA', 'MALDIVES', 'MALI', 'MALTA',
       'MARSHALL ISLAND', 'MARTINIQUE', 'MAURITANIA', 'MAURITIUS',
       'MAYOTTE', 'MEXICO', 'MICRONESIA', 'MOLDOVA', 'MONACO', 'MONGOLIA',
       'MONTENEGRO', 'MONTSERRAT', 'MOROCCO', 'MOZAMBIQUE', 'MYANMAR',
       'N. MARIANA IS.', 'NAMIBIA', 'NAURU RP', 'NEPAL', 'NETHERLAND',
       'NETHERLANDANTIL', 'NEW CALEDONIA', 'NEW ZEALAND', 'NICARAGUA',
       'NIGER', 'NIGERIA', 'NORFOLK IS', 'NORWAY', 'OMAN', 'PAKISTAN IR',
       'PALAU', 'PANAMA C Z', 'PANAMA REPUBLIC', 'PAPUA N GNA',
       'PARAGUAY', 'PERU', 'PHILIPPINES', 'PITCAIRN IS.', 'POLAND',
       'PORTUGAL', 'PUERTO RICO', 'QATAR', 'REUNION', 'ROMANIA', 'RUSSIA',
       'RWANDA', 'SAHARWI A.DM RP', 'SAMOA', 'SAN MARINO', 'SAO TOME',
       'SAUDI ARAB', 'SENEGAL', 'SERBIA', 'SEYCHELLES', 'SIERRA LEONE',
       'SINGAPORE', 'SINT MAARTEN (DUTCH PART)', 'SLOVAK REP', 'SLOVENIA',
       'SOLOMON IS', 'SOMALIA', 'SOUTH AFRICA', 'SOUTH SUDAN ', 'SPAIN',
       'SRI LANKA DSR', 'ST HELENA', 'ST KITT N A', 'ST LUCIA',
       'ST PIERRE', 'ST VINCENT', 'STATE OF PALEST', 'SUDAN', 'SURINAME',
       'SWAZILAND', 'SWEDEN', 'SWITZERLAND', 'SYRIA', 'TAIWAN',
       'TAJIKISTAN', 'TANZANIA REP', 'THAILAND', 'TIMOR LESTE', 'TOGO',
       'TOKELAU IS', 'TONGA', 'TRINIDAD', 'TUNISIA', 'TURKEY',
       'TURKMENISTAN', 'TURKS C IS', 'TUVALU', 'U ARAB EMTS', 'U K',
       'U S A', 'UGANDA', 'UKRAINE', 'UNION OF SERBIA & MONTENEGRO',
       'UNSPECIFIED', 'URUGUAY',
       'US MINOR OUTLYING ISLANDS               ', 'UZBEKISTAN',
       'VANUATU REP', 'VATICAN CITY', 'VENEZUELA', 'VIETNAM SOC REP',
       'VIRGIN IS US', 'WALLIS F IS', 'YEMEN REPUBLC', 'ZAMBIA',
       'ZIMBABWE', 'COCOS IS', 'FR S ANT TR', 'NIUE IS', 'CANARY IS',
       'CHANNEL IS', 'CHRISTMAS IS.', 'PACIFIC IS', 'NEUTRAL ZONE'],
      dtype=object)

In [171]:
# filter the data by trade with china 
exportDataFilter = (exportData['country'] == 'CHINA P RP') & (exportData['year'] == 2018)

#### Top 5 Commodities India Exported To China in 2018

In [172]:
exportDataChina = exportData[exportDataFilter]
exportDataChina = exportDataChina.sort_values('value', ascending=False)
exportDataChina.head()

,HSCode,Commodity,value,country,year
2844,29,ORGANIC CHEMICALS,3249.21,CHINA P RP,2018
2842,27,"MINERAL FUELS, MINERAL OILS AND PRODUCTS OF TH...",2855.69,CHINA P RP,2018
2867,52,COTTON.,1786.77,CHINA P RP,2018
2841,26,"ORES, SLAG AND ASH.",1220.22,CHINA P RP,2018
2854,39,PLASTIC AND ARTICLES THEREOF.,1104.52,CHINA P RP,2018

In [173]:
# remove null values 

# find number of NaN's
exportNullFilter = ~ pd.isna(exportDataChina['value'])
print('{} NaN values in {} data points'.format(exportDataChina.shape[0]- null_filter.sum(), exportDataChina.shape[0]))

# remove NaNs
exportDataChina = exportDataChina[exportNullFilter]
exportDataChina.shape[0]

0 NaN values in 96 data points

95

### Total Value of Goods Imported from China

In [177]:
goodsTotalValue = exportDataChina['value'].sum()
print('Total value of Good Exported from India to China: {} billion USD'.format(np.round(goodsTotalValue/1000, 2)))

Total value of Good Exported from India to China: 16.75 billion USD

#### Fractional Value of Top 5 Exported Goods

In [178]:
exportDataChina['GoodsValueFraction'] = np.round(exportDataChina['value']/goodsTotalValue, 2)
exportDataChina.head()

,HSCode,Commodity,value,country,year,GoodsValueFraction
2844,29,ORGANIC CHEMICALS,3249.21,CHINA P RP,2018,0.19
2842,27,"MINERAL FUELS, MINERAL OILS AND PRODUCTS OF TH...",2855.69,CHINA P RP,2018,0.17
2867,52,COTTON.,1786.77,CHINA P RP,2018,0.11
2841,26,"ORES, SLAG AND ASH.",1220.22,CHINA P RP,2018,0.07
2854,39,PLASTIC AND ARTICLES THEREOF.,1104.52,CHINA P RP,2018,0.07

#### Ratio of Imports to Exports Across All Countries

In [191]:
totalExportByCountry = exportData.groupby('country').sum()['value']
totalImportByCountry = importData.groupby('country').sum()['value']

importExportRatio = (totalImportByCountry/totalExportByCountry).sort_values(ascending=False)

In [200]:
importExportRatio[1:]

country
PANAMA C Z                                  55.674107
VENEZUELA                                   48.995139
EQUTL GUINEA                                33.198950
COCOS IS                                    28.103448
SWITZERLAND                                 20.688295
SOLOMON IS                                  15.310518
ANTARTICA                                   15.267857
IRAQ                                        14.488710
PALAU                                       14.296296
GUINEA BISSAU                               13.297717
SOUTH SUDAN                                 13.110341
ANGOLA                                      12.767737
NAURU RP                                    12.505112
QATAR                                       11.721412
GUERNSEY                                    11.333333
BOTSWANA                                    10.051950
GABON                                        9.561520
FALKLAND IS                                  8.354610
KUWAIT                                       8.295722
AZERBAIJAN                                   7.027825
LUXEMBOURG                                   5.377930
UKRAINE                                      5.353490
BRUNEI                                       4.921392
NIGERIA                                      4.671775
AUSTRALIA                                    4.556111
CHAD                                         4.373886
CHINA P RP                                   4.369058
FINLAND                                      4.230971
PAPUA N GNA                                  4.073849
ARGENTINA                                    3.803466
                                              ...
TONGA                                        0.047938
BARBADOS                                     0.044740
TIMOR LESTE                                  0.044010
ST KITT N A                                  0.042424
KENYA                                        0.040353
BELIZE                                       0.039939
NICARAGUA                                    0.038172
MICRONESIA                                   0.034014
GREENLAND                                    0.031949
FIJI IS                                      0.030892
TOKELAU IS                                   0.030204
MAURITIUS                                    0.024522
SAO TOME                                     0.023438
MARTINIQUE                                   0.022588
MONTSERRAT                                   0.021053
RWANDA                                       0.019891
DJIBOUTI                                     0.011970
GUAM                                         0.007673
MONTENEGRO                                   0.006243
FR POLYNESIA                                 0.004704
ST VINCENT                                   0.003063
GIBRALTAR                                    0.002635
PACIFIC IS                                   0.000285
CHANNEL IS                                   0.000000
CANARY IS                                         NaN
CURACAO                                           NaN
INSTALLATIONS IN INTERNATIONAL WATERS             NaN
NEUTRAL ZONE                                      NaN
SAHARWI A.DM RP                                   NaN
SINT MAARTEN (DUTCH PART)                         NaN
Name: value, Length: 247, dtype: float64